@{
	ViewBag.Title = "Question1";
	ViewBag.ContainerId = "pagejeu";
	ViewBag.Tag = "Question1";
}
@if (ViewBag.IsUserOptin)
{
	<img src="http://tbl.tradedoubler.com/report?organization=1772736&event=287866&leadNumber=@ViewBag.UserId" width="1" height="1" border="0">
}
<div id="logoCANAL"><img src="@Url.Content("~/content/images/logocanal.gif")" alt="CANAL+"></div>
<div id="logojeu"></div>
<div id="compteurquizz"><img src="@Url.Content("~/content/images/question1.gif")" alt="1/5"></div>

<div id="quizz">
	<p class="question">VOTRE QG ID&Eacute;AL ?</p>
	<div id="reponse1">
		<a class="sidebarLink" href="@Url.RouteUrl("QuestionChoice", new { questionNum = 1, urltoken = "repere" })"><img src="@Url.Content("~/content/images/quest1-blason1.jpg")"></a>
		<p><span>Un repère<br>bien caché</span></p>
	</div>
	<div id="reponse2">
		<a class="sidebarLink" href="@Url.RouteUrl("QuestionChoice", new { questionNum = 1, urltoken = "arbre" })"><img src="@Url.Content("~/content/images/quest1-blason2.jpg")"></a>
		<p><span>Sous un arbre</span></p>
	</div>
	<div id="reponse3">
		<a class="sidebarLink" href="@Url.RouteUrl("QuestionChoice", new { questionNum = 1, urltoken = "cordeau" })"><img src="@Url.Content("~/content/images/quest1-blason3.jpg")"></a>
		<p><span>Un lieu rangé<br>au cordeau</span></p>
	</div>
	<div class="spacer"></div>
</div>
<div id="colonne-formulaire">
	<div id="ombre"></div>
	<div id="form-adresse">
		<form id="addressForm">
			<p class="rappelville">Vous habitez à :</p>
			<p class="adresse">Adresse :</p>
			<p><label for="numvoie"></label> <input id="numvoie" name="numvoie" type="text" data-defaultempty="N° de voie" class="autoempty" maxlength="6"></p>
			<p><label for="typevoie"></label> <input id="typevoie" name="typevoie" type="text" data-defaultempty="Type de voie" class="autoempty" maxlength="20"></p>
			<p><label for="nomvoie"></label> <input id="nomvoie" name="nomvoie" type="text" data-defaultempty="Nom de la voie" class="autoempty" maxlength="50"></p>
			<p><label for="ville"></label> <input id="ville" name="ville" type="text" data-defaultempty="Ville" class="autoempty" maxlength="50"></p>
			<p><label for="cp"></label><input id="cp" name="cp" type="text" data-defaultempty="Code postal" class="autoempty" maxlength="5"></p> 
			<div class="txterreur"> </div>
			<button type="button" id="submit"><img src="@Url.Content("~/content/images/bt-valide.gif")" alt="Je valide" /></button>
			<p class="ignorer"><a href="#" id="ignore">Ignorer cette étape</a></p>

			<div class="infosnl">
				En remplissant vos coordonnées, vous acceptez<br />
				de recevoir des offres du Groupe <span class="lightitalic">CANAL</span>+ par<br />courrier.
			</div>
		</form>
	</div>
</div>  
@section footer
{
	<div id="footerpetit">
		<a href="@Url.Content("~/pdf/Mentions légales_COLLECTE_150514.pdf")" target="_blank" class="mentionslegales">MENTIONS L&Eacute;GALES</a>
		<a href="#" target="_blank" class="reglement">R&Eacute;GLEMENT</a>
	</div>
}
@section scripts
{
	<script>
		var locked = false;
		var href = '';
		$(".sidebarLink").click(function(e)
		{
			href = e.currentTarget.href;
			$("#colonne-formulaire").fadeIn('fast');
			e.preventDefault();

		});
		$("input[type=text]").focus(function()
		{
			$(this).removeClass("input-validation-error");
		});
		$("#submit").click(function(e)
		{
			if (!locked)
			{
				locked = true;
				$(".autoempty").each(function()
				{
					if($(this).val() === $(this).attr("data-defaultempty"))
						$(this).val('');
				});
				var formData = $("#addressForm").serialize();
				$.ajax({type: "POST", url: "postAddress",data: formData,dataType: "json",
					success: function (data)
					{
						if (!data.result)
						{
							$(".txterreur").show().html(data.message);
							var ids = data.badFieldId.split(',');
							console.log(ids);
							for(var i in ids)
							{
								$("#" + ids[i]).addClass("input-validation-error");
							}
							
						}
						else
						{
							$("#colonne-formulaire").fadeOut('fast', function ()
							{
								document.location.href = href;
							});
						}
						locked = false;
						setAutoEmptiesBack();
					},
					error: function (xhr, status, error)
					{
						$("#txterreur").html("Une erreur s'est produite. Veuillez rééssayer ultérieurement.");
						locked = false;
						setAutoEmptiesBack();
					}
				});
			}
		});
		$("#ignore").click(function(e)
		{
			e.preventDefault();
			document.location.href = href;
		});
		function setAutoEmptiesBack()
		{
			$(".autoempty").each(function ()
			{
				if ($(this).val().trim() === '')
					$(this).val($(this).attr("data-defaultempty"));
			});
		}
	</script>

}
