@{
    ViewBag.Title = "Question1";
	ViewBag.ContainerId = "pagejeu";
	ViewBag.Tag = "Question3";
}
<div id="logoCANAL"><img src="@Url.Content("~/content/images/logocanal.gif")" alt="CANAL+" /></div>
<div id="logojeu"></div>
<div id="compteurquizz"><img src="@Url.Content("~/content/images/question3.gif")" alt="3/5" /></div>

<div id="quizz">
	<p class="question">VOTRE RITUEL DU MATIN ?</p>
	<div id="reponse1">
		<a href="@Url.RouteUrl("QuestionChoice", new { questionNum = 3, urltoken = "secret" })"><img src="@Url.Content("~/content/images/quest3-blason1.jpg")" /></a>
		<p><span>C'est top secret</span></p>
	</div>
	<div id="reponse2">
		<a href="@Url.RouteUrl("QuestionChoice", new { questionNum = 3, urltoken = "grassemat" })"><img src="@Url.Content("~/content/images/quest3-blason2.jpg")" /></a>
		<p>
			<span>
				2 heures<br />de grasse mat
			</span>
		</p>
	</div>
	<div id="reponse3">
		<a href="@Url.RouteUrl("QuestionChoice", new { questionNum = 3, urltoken = "sain" })"><img src="@Url.Content("~/content/images/quest3-blason3.jpg")" /></a>
		<p><span>Très sain</span></p>
	</div>
	<div class="spacer"></div> 
</div>
@section footer
{
	<div id="footerpetit">
		<a href="@Url.Content("~/pdf/Mentions légales_COLLECTE_150514.pdf")" target="_blank" class="mentionslegales">MENTIONS L&Eacute;GALES</a>
		<a href="#" target="_blank" class="reglement">R&Eacute;GLEMENT</a>
	</div>
}
